<p id="notice"><%= notice %></p>

<h1><%=@reference.name %></h1>
<p>
  <strong>Id:</strong>
  <%= @reference.id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @reference.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @reference.name %>
</p>

<p>
  <strong>Episodes:</strong>
  <%= @reference.episodes.each do |episode| %>
    <% episode.title %>
  <% end %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
